.nothing__main-content {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: $primary;
	height: 100vh;

	p {
		text-align: center;
	}
}
